<div id="flex-container" class="testimonials">
  <div id="left-zone">
    <ul class="list">
      <!-- <li class="item">
        <input type="radio" id="radio_testimonial-1" name="basic_carousel" checked="checked" />
        <label class="label_testimonial-1" for="radio_testimonial-1">Diamond Pest Elimination</label>
        <div class="content-test content_testimonial-1">
          <span class="picto"></span>
          <h1>Diamond Pest Elimination</h1>
          <p>“The team really takes pride in their work. If I didn’t know any better I would think they actually worked for my company.”</p>
          <p class="testimonialFrom">Bill, Owner</p>
          <p class="testimonialState">Rochester, NY</p>
        </div>
      </li> -->
    </ul>
  </div>
  <div id="right-zone"></div>
</div>