<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <link
      href="{{url_for('static', filename='css/devcss/styles.css') }}"
      rel="stylesheet"
      type="text/css"
      media="all"
    />
    <link
      href="{{url_for('static', filename='css/foreigncss/navbar.css') }}"
      rel="stylesheet"
      type="text/css"
      media="all"
    />
    <link
      href="{{url_for('static', filename='css/foreigncss/carousel_bubbles.css') }}"
      rel="stylesheet"
      type="text/css"
      media="all"
    />
    <link
      href="{{url_for('static', filename='css/foreigncss/carousel_slider.css') }}"
      rel="stylesheet"
      type="text/css"
      media="all"
    />
    {% block head %}{% endblock %}
  </head>

  <body>
    {% block navbar %}
        {% include 'insertation/navbar.html' %}
    {% endblock %}
    
    {% block content %}{% endblock %}
    
    {% block footer %}{% endblock %} 
    
    {% block scripts %}{% endblock %}
    <script src="{{url_for('static', filename='js/foreignjs/jquery.min.js') }}"></script>
    <script src="{{url_for('static', filename='js/foreignjs/jquery.backtotop.js') }}"></script>
    <script src="{{url_for('static', filename='js/foreignjs/jquery.mobilemenu.js') }}"></script>
    <script src="{{url_for('static', filename='js/foreignjs/jquery.placeholder.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/devjs/script.js') }}"></script>
    <script src="{{ url_for('static', filename='js/foreignjs/navbar.js') }}"></script>
    <script src="{{ url_for('static', filename='js/foreignjs/carousel_bubbles.js') }}"></script>
    <script src="{{ url_for('static', filename='js/foreignjs/carousel_slider.js') }}"></script>
  </body>
</html>
