<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Map with Form</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='leaflet/dist/leaflet.css') }}">
    <script src="{{ url_for('static', filename='leaflet/dist/leaflet.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <!-- Карта -->
    <div id="map" style="width: 100%; height: 70%;"></div>

    <!-- Форма -->
    <div class="form_container">
        <div id="message"></div>
        <form id="sendevent">
            <!-- <label for="location">Location:</label><br />
            <input type="text" name="location" /><br /><br /> -->

            <label for="latitude">Latitude:</label><br />
            <input type="text" name="latitude" readonly /><br /><br />

            <label for="longitude">Longitude:</label><br />
            <input type="text" name="longitude" readonly /><br /><br />

            <label for="img">Image:</label><br />
            <input type="file" name="img" /><br /><br />

            <label for="description">Название события:</label><br />
            <textarea rows="4" cols="50" name="description"></textarea><br /><br />

            <label for="short">Краткое описание:</label><br />
            <input type="text" name="short" /><br /><br />

            <label for="story">История:</label><br />
            <textarea rows="4" cols="50" name="story"></textarea><br /><br />

            <label for="privates">Разрешения:</label><br />
            <input type="text" name="privates" /><br /><br />

            <button type="submit">Отправить</button>
        </form>
    </div>
</body>
<script src="{{ url_for('static', filename='js/map.js') }}"></script>
</html>
