{% extends "base.html" %}
{% block title %}Create{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='leaflet/dist/leaflet.css') }}">
    <script src="{{ url_for('static', filename='leaflet/dist/leaflet.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock %}

{% block navbar %}{{ super() }}{% endblock %}

{% block content %}
    <!-- Карта -->
    <div id="map" style="width: 100vw; height: 70vh;"></div>

    <!-- Форма -->
    <div class="form_container">
        <div id="message"></div>
        <form id="sendevent">

            <label for="latitude">Latitude:</label><br />
            <input id="latitude" type="text" name="latitude" required/><br /><br />

            <label for="longitude">Longitude:</label><br />
            <input type="text" name="longitude" required/><br /><br />

            <label for="img">Image:</label><br />
            <input type="file" name="img" multiple/><br /><br />

            <label for="description">Название события:</label><br />
            <input type="text" name="description" placeholder="Обязательно" required><br /><br />

            <label for="short">Краткое описание:</label><br />
            <textarea rows="4" cols="50" name="short" placeholder="Обязательно" required></textarea><br /><br />

            <label for="story">История:</label><br />
            <textarea rows="4" cols="50" name="story"></textarea><br /><br />

            <label for="privates">Разрешения:</label><br />
            <input type="text" name="privates" /><br /><br />

            <button type="submit">Отправить</button>
        </form>
    </div>
{% endblock %}

{% block footer %}{{ super() }}{% endblock %} 
    
{% block scripts %}
<script src="{{ url_for('static', filename='js/devjs/map.js') }}"></script>
{% endblock %}
