{% extends "base.html" %}
{% block title %}Main{% endblock %}
    
{% block head %}{% endblock %}

{% block navbar %}{{ super() }}{% endblock %}
    
{% block content %}
{% include 'insertation/carousel_slider.html' %}
{% include 'insertation/carousel_bubbles.html' %}
  <!-- <section class="Carousel" id="carousel" tabindex="-1">
  </section> -->
{% endblock %}

{% block footer %}{% endblock %} 

{% block scripts %}
<script src="{{ url_for('static', filename='js/devjs/ajaxapi.js') }}"></script>
{% endblock %}